cse1-185/week-4/exstudent.dtd

  <!ELEMENT student (name+,rollno?,DOB?,address+,course?)>
  <!ELEMENT name (firstname?,lastname?)>
  <!ELEMENT firstname (#PCDATA)>
  <!ELEMENT lastname (#PCDATA)>
  <!ELEMENT rollno (#PCDATA)>
  <!ELEMENT DOB (#PCDATA)>
  <!ELEMENT address (building+,street,city,postalcode)>
  <!ELEMENT building (#PCDATA)>
  <!ELEMENT street (#PCDATA)>
  <!ELEMENT city (#PCDATA)>
  <!ELEMENT postalcode (#PCDATA)>      
  <!ELEMENT course (#PCDATA)>
